@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.cdnfonts.com/css/gilroy-bold);

html,
body {
    margin: 0 auto;
    background-color: rgb(241, 240, 240);
    font-family: "Varela Round", sans-serif;
}

.back-btn {
    display: flex;
    margin-left: 50px;
    font-size: 30px;
}

.back-btn i {
    font-size: 35px;
    padding: 7px;
    color: rgba(24, 24, 24, 0.841);
}

.back-btn i:hover {
    background-color: rgb(196, 85, 85);
    border-radius: 10px;
    color: white;
}

.container {
    margin: auto;
    height: 50%;
    width: 50%;
    background-color: white;
    padding: 70px 0px;
    margin-top: 150px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 50px;
}

.container:hover {

    transition: 0.3s;
    box-shadow: 7px 5px 26px -2px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 7px 5px 26px -2px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 7px 5px 26px -2px rgba(0, 0, 0, 0.86);
}

.input-design input,
textarea {
    width: 30%;
    padding: 10px;
    margin: 8px;
    border: solid 2px;
    border-radius: 8px;
    font-family: "Varela Round", sans-serif;
}

.submit-btn input {
    width: 16%;
    padding: 3px;
    border: solid 2px;
    border-radius: 8px;
    font-family: "Varela Round", sans-serif;
}

.submit-btn input:hover {
    background-color: rgb(196, 85, 85);
    cursor: pointer;
}

.contact-section {
    margin-top: 15px;
}

.contact-container i:hover {
    color: rgb(196, 85, 85);
}

.fa-brands {
    font-size: 30px;
    padding: 3px;
    color: rgba(24, 24, 24, 0.841);
    margin-left: 10px;
    transition: transform .3s;
    margin: 0px 5px 15px 5px;
}

.fa-brands:hover {
    transform: scale(1.5);
    cursor: pointer;
}